---
layout: default
---

<div class="container">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="blog-list">
    {% for post in paginator.posts %}
    <article class="blog-list-item">
      <time class="blog-list-date">{{ post.date | date: '%b %d, %Y' }}<br>{{ post.author | default: site.author }}</time>
      <div class="blog-list-content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
      </div>
    </article>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-prev">&larr; Newer</a>
    {% endif %}
    <span class="pagination-info">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-next">Older &rarr;</a>
    {% endif %}
  </nav>
  {% endif %}
</div>
